h1{
    text-align: center;
    color: white;
    font-size: 70px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.para{
    width: 530px;
    color: white;
}
.form{
    width: 530px;
}
.Hamza{
    font-size: 50px;
}
.hmza{
    font-size: 20px;
}
.info p{
    font-size: 20px;
}
.infoHead{
    color: rgb(252,55,70);
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 25px;
}
.p{
    margin-bottom: 10px;
}
/* form starts*/
.HAmza{
    color: white;
    font-size: 20px;
}
.HAMZA{

    height: 50px;
    width: 200px;
}
.emaill{

    height: 50px;
    width: 425px;
}
.button{

    
    height: 35px;
    border: none;
    border-radius: 10px;
    width: 130px;
    background-color: rgb(252,55,70);
    color: white;
    font-size: 16px;

}
.button:hover{
    background-color: red;
}
iframe{
      
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}