@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: league gothic;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Images/bg_pic.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.AddressBar {
  width: 100%;
  height: fit-content;
  padding: 2vh;
  background-color: #ff4955;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.AddressBar>p {
  font-size: 1.6vw;
  color: rgb(219, 218, 224);
  display: flex;
  align-items: center;
  margin-left: 12vw;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar>a>img {
  width: 27vw;
  height: fit-content;
  margin-left: 7vw;
  object-fit: cover;
}

.navbar>ul {
  display: flex;
  list-style-type: none;
  margin-left: 8vw;
}

.navbar>ul>li {
  margin-left: 6vw;
  font-size: 1.7vw;
  font-family: league gothic;
}

.navbar>ul>li>a:hover {
  color: #ff4955;
  transition: 0.6s;
}

.navbar>ul>li>a {
  text-decoration: none;
  color: rgb(219, 218, 224);
}

@media screen and (max-width: 620px) {
  .AddressBar {
    width: 100%;
    height: fit-content;
    padding: 1vh;
    background-color: #ff4955;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
  }

  .AddressBar>p {
    font-size: 1.6vw;
    color: rgb(219, 218, 224);
    display: flex;
    align-items: center;
    margin-left: 12vw;
  }

  .navbar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .navbar>a>img {
    width: 38vw;
    height: 18vw;
    margin-left: 9vw;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .navbar>ul {
    display: block;
    list-style-type: none;
    margin-left: 8vw;
  }

  .navbar>ul>li {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.3vw;
    padding: 1vw 0vw;
  }
}

footer {
  width: 100%;
  height: fit-content;
  padding: 4vw;
  margin-top: 13vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
}

.footer-img>a>img {
  width: 22vw;
  height: 14vh;
  aspect-ratio: 1;
  object-fit: cover;
}

footer>.shop-div {
  margin-left: 6vw;
}

.shop-div,
.company-div,
.support-div,
.contact-div {
  margin-left: 6vw;
}

.shop-div>h1,
.company-div>h1,
.support-div>h1,
.contact-div>h1 {
  font-size: 3.4vw;
  color: #ff4955;
  margin-bottom: 1vw;
}

.shop-div>ul>li>a,
.company-div>ul>li>a,
.support-div>ul>li>a,
.contact-div>ul>li>a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.7vw;
}

.shop-div>ul>li,
.company-div>ul>li,
.support-div>ul>li,
.contact-div>ul>li {
  color: aliceblue;
  font-size: 1.7vw;
  list-style-type: none;
  padding-top: 0.7vw;
  margin-top: 0.7vw;
}

.shop-div>ul>h3,
.company-div>ul>h3,
.support-div>ul>h3,
.contact-div>ul>h3 {
  font-size: 2vw;
  color: aliceblue;
  text-shadow: 1px 1px #000000;
  margin-top: 1vw;
}

@media screen and (max-width: 620px) {
  footer {
    width: 100%;
    height: fit-content;
    padding: 4vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
  }

  .footer-img>img {
    width: 38vw;
    height: 13vh;
    aspect-ratio: 1;
    object-fit: cover;
  }

  footer>.shop-div {
    margin-left: 6vw;
  }

  .shop-div,
  .company-div,
  .support-div,
  .contact-div {
    margin: 9vw 0vw 0vw 6vw;
  }

  .shop-div>h1,
  .company-div>h1,
  .support-div>h1,
  .contact-div>h1 {
    font-size: 7vw;
    color: #ff4955;
    margin-bottom: 1vw;
  }

  .shop-div>ul>li>a,
  .company-div>ul>li>a,
  .support-div>ul>li>a,
  .contact-div>ul>li>a {
    text-decoration: none;
    color: #f0f8ff;
    font-size: 5vw;
  }

  .shop-div>ul>li,
  .company-div>ul>li,
  .support-div>ul>li,
  .contact-div>ul>li {
    color: aliceblue;
    font-size: 5vw;
    list-style-type: none;
    padding-top: 1.2vw;
    margin-top: 0.7vw;
  }

  .shop-div>ul>h3,
  .company-div>ul>h3,
  .support-div>ul>h3,
  .contact-div>ul>h3 {
    font-size: 5vw;
    color: aliceblue;
    text-shadow: 0.15vw 0.15vw #ff4955;
    margin-top: 3vw;
  }
}

.Collection_content {
  text-align: center;
  padding: 5vw 0vw 5vw 0vw;
}

.Collection_content>h1 {
  color: #f0f8ff;
  font-size: 6vw;
  font-family: league gothic;
}

.Collection_content>p {
  color: #f0f8ff;
  font-size: 1.4vw;
}

.Collection_content>p>a {
  text-decoration: none;
  color: #ff4955;
}

.showing {
  margin: 10vh 0vw 0vh 2vw;
  color: #f0f8ff;
  font-size: 1.5vw;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2vw;
}

.cards>div {
  width: 22.7vw;
  height: fit-content;
  margin: 5vw 0vw 0vw 1vw;
  color: #ffffff;
  font-family: league gothic;
  font-size: 1.6vw;
  font-weight: lighter;
}

.cards>div>img {
  width: 22.7vw;
  height: 58vh;
  aspect-ratio: 1;
  object-fit: cover;
}

.cards>div>button,
.cards>div>button>a {
  width: 6vw;
  height: 5vh;
  font-size: 1.3vw;
  text-decoration: none;
  color: #000000;
  margin: 1vw 1vw 1vw 1.75vw;
}

@media screen and (max-width: 920px) {
  .Collection_content {
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
  }

  .Collection_content>h1 {
    margin-top: 4vh;
    font-size: 8vw;
    font-family: league gothic;
  }

  .Collection_content>p {
    font-size: 3vw;
  }

  .showing {
    font-size: 3vw;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw;
  }

  .cards>div {
    width: 29vw;
    height: fit-content;
    margin: 5vw 0vw 0vw 1vw;
    color: #ffffff;
    font-family: league gothic;
    font-size: 1.6vw;
    font-weight: lighter;
  }

  .cards>div>img {
    width: 29vw;
    height: 48vh;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .cards>div>p {
    font-size: 2.7vw;
  }

  .cards>div>button,
  .cards>div>button>a {
    width: 10vw;
    height: 5vh;
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 620px) {
  .Collection_content>h1 {
    font-size: 10vw;
    margin-top: 6vh;
  }

  .Collection_content>p {
    color: #f0f8ff;
    font-size: 3vw;
  }

  .showing {
    font-size: 5vw;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards>div {
    width: 43.7vw;
    font-size: 1.6vw;
  }

  .cards>div>img {
    width: 43.7vw;
    height: 45vh;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .cards>div>p {
    width: 100%;
    font-size: 5vw;
  }

  .cards>div>button,
  .cards>div>button>a {
    width: 12vw;
    height: 6vh;
    font-size: 3vw;
  }
}

@media screen and (max-width: 420px) {
  .Collection_content>h1 {
    font-size: 12vw;
  }

  .Collection_content>p {
    color: #f0f8ff;
    font-size: 4vw;
  }

  .showing {
    margin: 10vh 0vw 0vh 6vw;
    font-size: 5vw;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 3vw;
  }

  .cards>div {
    width: 88.7vw;
    height: fit-content;
    font-size: 1.6vw;
  }

  .cards>div>img {
    width: 88.7vw;
    height: 45vh;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .cards>div>p {
    font-size: 6vw;
  }

  .cards>div>button,
  .cards>div>button>a {
    width: 20vw;
    height: 5vh;
    font-size: 5vw;
  }
}

button:active {
  transform: scale(0.8);
  transition: 0.5s;
}