@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=League+Gothic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=League+Gothic&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: black !important; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Images/bg_pic.jpg); */
  background-size: cover;
  background-attachment: fixed;
}
/* ************* section Header starts here ************* */
button {
  font-family: "league gothic";
}

h1 {
  font-family: "league gothic";
}
.AddressBar {
  width: 100vw;

  height: fit-content;
  padding: 2vh;
  background-color: #ff4955;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
.AddressBar > p {
  font-size: 1.15vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 218, 224);
  display: flex;
  align-items: center;
  margin-left: 12vw;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.2);
  
  
}
.navbar > a > img {
  width: 22vw;
  height: fit-content;
  margin-left: 9vw;
  border-radius: 50%;
}
.navbar > ul {
  display: flex;
  list-style-type: none;
  margin-left: 8vw;
}
.navbar > ul > li {
  margin-left: 4vw;
  font-size: 1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.navbar > ul > li > a:hover {
  color: #ff4955;
  transition: 0.6s;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: rgb(219, 218, 224);
}

/* ************* section Header ends here ************* */

/* ************* section Main starts here ************* */

.done{
  background-color: black;
}
main{

  background-color: rgb(197, 191, 191);
  font-family: sans-serif;
  
}
.wasi{

  /* color: white; */
  width: 100vw;
  height: 60vh;
background-image: url(../Images/img1.webp);
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
object-fit: cover;
aspect-ratio: 1;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: 900;
font-weight: bolder;
letter-spacing: 10px;
font-size: xx-large;
font-family: sans-serif;
}
.wasi h1{
  color:black;
margin-top: 20px;
}
.hmz{
  background-color: black !important;
  color:white;
  height: 60vh;
  width: 90vw;
  margin-left: 20px;
  margin-right: 20px;
  /* color: white; */
margin: auto;
margin-top: 50px;
display: grid;
/* border: 1px solid red; */
grid-template-columns: auto auto;
/* justify-content: center; */
/* align-items: center; */
font-family: sans-serif;

}
.ok h1{
 
  border: none;
  
  margin-bottom: 20px;
  letter-spacing: 5px;

}
.ok p{
  padding-left: 50px;
  padding-right: 50px;
}
.ok{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  justify-content: left;
  margin-top: 40px;
  padding-top: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  /* padding-right: 50px; */
  
}
.pc{  font-family: sans-serif;
  background-image: url(../Images/img2.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* margin-top: -20px; */
  width: 600px;
  height: 383px;
  /* border: 1px solid blue; */
}
.team{
  font-family: sans-serif;
  width: 100vw;
  height: 120vh;
  /* border: 1px solid blue; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
/* border: 1px solid red; */
margin-top: 50px;
  
background-color: black !important;
}
.hedp{
  font-family: sans-serif;
  margin-left: 50px;
/* border: 1px solid yellow; */
text-align: center;
color: white;
}
.hedp h1{
  letter-spacing: 5px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hedp p{
width: 70vw;
height: 20vh;
 /* border: 1px solid black; */
 padding-left: 60px;
 padding-right: 60px;
line-height: 20px;
}

.pics{
  font-family: sans-serif;
  margin-top: 30px;
  width: 70vw;
  height: 50vh;
  margin-left: 50px;
padding-left: 100px;
  /* background-color: red; */
display: grid;
grid-template-columns: auto auto auto;
}
.same{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: black;
  /* border: 2px solid yellow; */
  width: 150px;
  height: 100px;
  font-family: sans-serif;
}
.same i{
  position: relative;
  top: -29px;
  left: 20px;
}
.a2 i{
  position: relative;
  left: 50px;
}
.a3 i{
position: relative;
left: 50px;
}
.a4 i{
  position: relative;
  left: 60px;
}
.a5 i{
  position: relative;
  left: 60px;
}
.a6 i{
  position: relative;
  left: 20px;
}
.a7 i{
  position: relative;
  left: 30px;
}
.a8 i{
  position: relative;
  left: 40px;
}
.a9 i{
  position: relative;
  left: 50px;
}
.FOLLOW{
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/img3.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-family: sans-serif;

}
.us{
  font-family: sans-serif;
  background-color: white;
  width: 250px;
  height: 100vh;
  margin: auto;
border: 1px solid blue;
margin-top: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
color: white;
}
.icon ul{
  margin-top: 30px;
}
.icon li{
 padding-left: 10px;
  display: inline;
}
.world{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
justify-content: center;
margin: auto;
width: 95vw;
height: 50vh;
}
.ok{
  
 
  margin-left: 200px;
}
main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../Images/bg-006.jpg);
  object-fit: cover;
  aspect-ratio: 1;
  .ad {
    position: relative;
    display: inline-block;
    /* margin: 10rem; */
    width: 100%;
    height: 100%;
    .text {
      padding: 5rem;
      color: aliceblue;
      position: absolute;
      h2 {
        /* margin-top: 0.5rem; */
        font-family: "Kaushan Script";
        color: rgb(255, 73, 85);
        line-height: 36px;
        font-size: 30px;
        margin-bottom: 1rem;
      }
      h1 {
        width: 30vw;
        font-weight: 400;
        font-size: 78px;
        line-height: 62px;
        font-family: "league gothic";
        font-family: "league gothic";
      }
      p {
        margin-top: 2rem;
        font-family: "Manrope";
        font-size: 16px;
        line-height: 26px;
        width: 30vw;
      }
    }
    img {
      position: absolute;
      padding: 5rem;
      right: 1rem;
      width: 40%;
      height: 100%;
      object-fit: contain;
    }
    button {
      left: 10;
      margin-top: 2rem;
      padding: 1rem 2rem;
      border: none;
      color: aliceblue;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      background-color: rgb(255, 73, 85);
    }
  }
}

/* ************* section Main ends here************* */

/* ************* section Product cards starts here ************* */

.product-cards {
  margin: 6vw;
  .text {
    margin: 8vh;
    text-align: center;
    h2 {
      font-family: "Kaushan Script";
      color: #ff4955;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 30px;
    }
    h1 {
      color: aliceblue;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 90px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 2vw;
    a {
      text-decoration: none;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      .txt {
        font-family: "league gothic";
        letter-spacing: 1px;
        text-transform: uppercase;
        h3 {
          margin: 1rem 1rem 1rem 0;
          color: aliceblue;
          transition: linear 0.2s;
          -webkit-transition: linear 0.2s;
          -moz-transition: linear 0.2s;
          -ms-transition: linear 0.2s;
          -o-transition: linear 0.2s;
        }
        .icos {
          margin: -1px;
          color: #ff4955;
          font-size: 13px;
          letter-spacing: 0px;
        }
        p {
          margin: 1rem 1rem 1rem 0;
          font-size: 12px;
          font-family: "Manrope";
          color: aliceblue;
          s {
            color: #808080;
          }
        }
      }
      img {
        height: auto;
        width: 20vw;
      }
      transition: linear 0.2s;
      -webkit-transition: linear 0.2s;
      -moz-transition: linear 0.2s;
      -ms-transition: linear 0.2s;
      -o-transition: linear 0.2s;
    }
  }
  .card:hover {
    scale: 0.95;
    img {
      filter: brightness(85%);
      -webkit-filter: brightness(85%);
    }
    .txt {
      h3 {
        color: #ff4955;
      }
    }
    p {
      color: #ff4955;
    }
  }
}

/* ************* section Product cards ends here ************* */

/* ************* section Footer starts here ************* */

footer {
  /* margin-top: 5rem; */
  width: 100vw;
  height: fit-content;
  padding: 4vw;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
      url(../Images/bg_pic.jpg);
    background-size: cover; */
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  background-image: url(../Images/bg_pic.jpg);
}

.footer-img > a > img {
  width: 22vw;
  height: 14vh;
  object-fit: cover;
  aspect-ratio: 1;
}
footer > .shop-div {
  margin-left: 6vw;
}
.shop-div,
.company-div,
.support-div,
.contact-div {
  margin-left: 6vw;
  width: 20vw;
}
.shop-div > h1,
.company-div > h1,
.support-div > h1,
.contact-div > h1 {
  font-size: 2.3vw;
  width: 5vw;
  color: #ff4955;
  margin-bottom: 1vw;
}
.shop-div > ul > li > a,
.company-div > ul > li > a,
.support-div > ul > li > a,
.contact-div > ul > li > a {
  text-decoration: none;
  width: 10vw;
  color: aliceblue;
  font-size: 1.3vw;
}
.shop-div > ul > li,
.company-div > ul > li,
.support-div > ul > li,
.contact-div > ul > li {
  color: aliceblue;
  font-size: 1.3vw;
  list-style-type: none;
  padding-top: 0.7vw;
  margin-top: 0.7vw;
  width: 10vw;
}
.shop-div > ul > h3,
.company-div > ul > h3,
.support-div > ul > h3,
.contact-div > ul > h3 {
  width: 10vw;
  font-size: 1.4vw;
  color: aliceblue;
  text-shadow: 1px 1px 3px #ff4955;
  margin-top: 1vw;
}

.contact-div ul li {
  width: 20vw;
}

/* ************* section Footer ends here ************* */
